body {
    margin: 60px auto;
    width: 70%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
nav ul, footer ul {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #AED6F1 ;
}
a:hover {
    text-decoration: underline;
}

img {
    padding: 5px;
    width: 200px;
}

img.center {
    display: block;
    margin: 0 auto;
}

h1 {

    margin-right: 200px;
    margin-left: 200px;
    font-size: 1.0em;
    font-weight: bold;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p {
    margin-right: 200px;
    margin-left: 200px;
    font-size: 0.8em;
    color: #333;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

hr {
    margin-right: 200px;
    margin-left: 200px;
}

body {
    margin-right: 200px;
    margin-left: 200px;
}

footer {
    margin-right: 200px;
    margin-left: 200px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

head{
    margin-right: 200px;
    margin-left: 200px;
}

ul {
    width: 70%;
    margin: 0 auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    
}

ul.posts li {
    list-style: none;
}
